<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Profile</h1>
    <form method="POST">
    
          <h2>{{group_details.date_of_delivery}}</h2>
          <h2> {{group_details.beans_variety}}</h2>
          <h2> {{group_details.kgs_of_beans}}</h2>
          <h2>{{group_details.Price_per_kg}}</h2>
          <h2>{{group_details.total_amount}}</h2>
   </form>
    
    <style>
        #image{
            margin-top: 5%;
            margin-left: 15%;
            width: 70%;
            height: 20%;
        }
        #img{
            width: 35%;
            height: 5%;
            margin-left: 35%;
            border-radius: 50%;
        }
    
    </style>

</body>
</html>
